/* Reset de márgenes y paddings para uniformidad */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales para el cuerpo de la página */
body {
    font-family: 'Playfair Display', serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-image: url('https://img.freepik.com/fotos-premium/hermosas-composiciones-florales-restaurante-ceremonia-boda_73989-22672.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 40px 0;
    border-radius: 10px;
}

h1 {
    font-size: 4em;
    font-family: 'Georgia', serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #fff;
}

/* Títulos de secciones */
h2 {
    color: #495057;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

/* Sección de fotos */
#seccion-fotos {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.photo-grid img {
    width: calc(50% - 20px);
    max-width: 300px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.photo-grid img:hover {
    transform: scale(1.05);
}

/* Fotos de la ceremonia */
.venue-photos {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.venue-photos img {
    width: 48%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* Formulario que llene el ancho completo */
#formulario {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 0;
}

#formulario h2 {
    text-align: center;
}

#formulario label {
    font-weight: bold;
    display: block;
    text-align: center;
    
}

/* Inputs y select al 100% */
#formulario input, 
#formulario select {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 1em;
    display: block;
    font-color: black;
}

#formulario input:focus, 
#formulario select:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Botón de envío */
#formulario button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #495057;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formulario button:hover {
    background-color: #343a40;
}

#formulario button:active {
    background-color: #007bff;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 0.9em;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

/* Media Queries para dispositivos móviles */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 3em;
    }

    .photo-grid img {
        width: calc(100% - 10px);
    }

    .venue-photos {
        flex-direction: column;
    }

    .venue-photos img {
        width: 100%;
        margin-bottom: 10px;
    }
}
